.ec-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
  border-style: solid;
  border-radius: 15px;
  border-color: lightgrey;
  background: lightgrey;
  width: 40%;
  padding: 15px;
}

.ec-info {
  display: flex;
  align-items: center;
  margin: 5px;
  width: 70%;
  padding: 5px;
}

.ec-frame {
  width: 100px;
  height: 100px;
  background-color: lightblue;
  position: relative;
}

.ec-inactive {
  background: lightcoral;
}

.ec-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100px;
  width: 80%;
  margin: 0 10px;
}

.ec-data .ec-data-info {
  align-self: flex-start;
}

.ec-employee-name,
.ec-department-name {
  display: inline;
  align-self: flex-start;
}

.ec-department-name {
  font-size: smaller;
  font-weight: normal;
  color: grey;
}

.ec-details .ec-details-btn {
  padding: 6px 5px;
  margin: 5px;
  background: lightblue;
  font-weight: bold;
  color: #ffff;
  border-style: solid;
  border-radius: 15px;
  border-color: lightblue;
  transition: all 0.2s;
  cursor: pointer;
  transition: all 0.2s;
}

.ec-details .ec-details-btn:hover {
  background: rgb(86, 190, 224);
  border-color: rgb(86, 190, 224);
}
